
@{

}

<div class="card">
    <div class="card-header">
        <h5 class="float-left">Productos</h5>
        <a href="@Url.Action("Create")" class="float-right"><i class="zmdi zmdi-plus zmdi-hc-2x"></i></a>
    </div>

    <div class="card-body">
        <table id="table_view" class="table table-hover table-striped w-100"></table>
    </div>
</div>





@section scripts{
    <script src="~/js/product/index.js"></script>
}